# Database - Neon PostgreSQL
DATABASE_URL="postgresql://username:password@your-neon-host.neon.tech/workshop_db?sslmode=verify-full"

# NextAuth
AUTH_SECRET="generate-a-random-secret-here-minimum-32-chars"
AUTH_URL="http://localhost:3000"

# Pusher (for realtime - Phase 7)
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
PUSHER_APP_ID=""
PUSHER_SECRET=""
